<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <!--配置驼峰属性自动映射，例如实体中属性为 userSex,数据库属性为 user_sex，MyBatis 默认是不能自动转换的。
我们可以在application.yml中配置 mybatis.configuration.map-underscore-to-camel-case=true或在该文件中
进行如下配置，实现自动映射。如果不进行此配置，通常我们要自定义以下结果集映射： -->
  <settings>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>

  <typeAliases>
    <typeAlias alias="Integer" type="java.lang.Integer"/>
    <typeAlias alias="Long" type="java.lang.Long"/>
    <typeAlias alias="HashMap" type="java.util.HashMap"/>
    <typeAlias alias="LinkedHashMap" type="java.util.LinkedHashMap"/>
    <typeAlias alias="ArrayList" type="java.util.ArrayList"/>
    <typeAlias alias="LinkedList" type="java.util.LinkedList"/>
  </typeAliases>
</configuration>